<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="redisKey" value="(cache-name).redis.cache.windows.net:(port),password=(access-key)=,ssl=True,abortConnect=False"/>
    <add key="cacheHoursExpire" value="2"/>
  </appSettings>
</configuration>